<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Show Gunclock</title>
<!--
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
-->
  </head>
  <body>
    <div class="container">
      <div th:object="${gunclock}">
        <h1 th:bgcolor="*{color}">Show Gunclock</h1>

        <table class="table" border="1">
          <thead>
            <tr>
              <th>ID</th>
              <th>色</th>
              <th>サイズ</th>
              <th>生成日付</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td th:text="*{id}"></td>
              <td th:text="*{color}" th:bgcolor="*{color}"></td>
              <td th:text="*{size}"></td>
              <td th:text="*{createdDate}"></td>
            </tr>
          </tbody>
        </table>

        <table>
          <tr><td th:bgcolor="*{color}">
            <div>
              <pre th:text="${gunclockString}"></pre>
            </div>
          </td></tr>
        </table>
      </div>
      <div>
        <a class="btn btn-default" th:href="@{/gunclocks/{id}/edit(id=*{id})}">編集</a>
      </div>
      <div class="pull-right">
        <a class="btn btn-link" href="/gunclocks">一覧画面へ</a>
      </div>
    </div>
  </body>
</html>